pkgbase = opencode
	pkgdesc = The open source AI coding agent CLI
	pkgver = 2026.6.27_c0feb76
	pkgrel = 1
	url = https://github.com/sharunkumar/opencode
	arch = x86_64
	license = Apache
	depends = glibc
	options = !debug
	options = !strip
	source_x86_64 = opencode_2026.6.27_c0feb76_x86_64.tar.gz::https://github.com/sharunkumar/opencode/releases/download/v2026.6.27-c0feb76/opencode-linux-x64.tar.gz
	sha256sums_x86_64 = 97e1fbbcae6ce5a3cfa0f88d8eb023a8249781be64b53d2b2dd7f79f2ea4fd28

pkgname = opencode
