pkgbase = 1password-custom-allowed-browsers
	pkgdesc = Adds 1Password custom allowed browsers
	pkgver = 2
	pkgrel = 3
	url = https://github.com/sharunkumar/pkgbuilds
	arch = any
	license = custom:meta
	depends = 1password
	optdepends = brave-origin: Add Brave Browser support
	optdepends = zen-bin: Add Zen Browser support
	source = custom_allowed_browsers
	sha256sums = SKIP

pkgname = 1password-custom-allowed-browsers
