pkgbase = watch-dogs-kde-splash-arch
	pkgdesc = Watch_Dogs x Arch Linux splash screen for KDE Plasma 6
	pkgver = 1.0
	pkgrel = 1
	url = https://github.com/sharunkumar/watch_dogs-kde-splash-arch
	arch = any
	license = GPL
	depends = plasma-workspace
	source = git+https://github.com/sharunkumar/watch_dogs-kde-splash-arch.git
	sha256sums = SKIP

pkgname = watch-dogs-kde-splash-arch
