pkgbase = delta-shell-meta
	pkgdesc = Meta package for Delta Shell
	pkgver = 1
	pkgrel = 2
	url = https://github.com/sharunkumar/pkgbuilds
	arch = any
	license = custom:meta
	depends = aylurs-gtk-shell
	depends = libastal-hyprland
	depends = libastal-niri
	depends = libastal-apps
	depends = libastal-battery
	depends = libastal-bluetooth
	depends = libastal-mpris
	depends = libastal-network
	depends = libastal-notifd
	depends = libastal-powerprofiles-git
	depends = libastal-tray
	depends = libastal-wireplumber
	depends = dart-sass
	depends = cliphist
	depends = wl-clipboard
	depends = gpu-screen-recorder
	depends = geoclue
	depends = tuned-ppd
	depends = power-profiles-daemon
	depends = brightnessctl
	depends = bluez
	depends = libgtop
	options = !emptydirs

pkgname = delta-shell-meta
