pkgbase = niri-meta
	pkgdesc = Meta package for Niri and its recommended environment
	pkgver = 1.0
	pkgrel = 1
	url = https://github.com/sharunkumar/pkgbuilds
	arch = any
	license = custom:meta
	depends = niri
	optdepends = fuzzel: application launcher
	optdepends = mako: notification daemon
	optdepends = waybar: Wayland bar
	optdepends = xdg-desktop-portal-gtk: screen sharing support
	optdepends = xdg-desktop-portal-gnome: screen sharing support (GNOME variant)
	optdepends = alacritty: default terminal
	optdepends = swaybg: set wallpaper background
	optdepends = swayidle: idle management
	optdepends = swaylock: lock screen on idle
	optdepends = xwayland-satellite: X11 application support in Wayland
	options = !emptydirs

pkgname = niri-meta
