pkgbase = niri-meta
	pkgdesc = Meta package for Niri and its recommended environment
	pkgver = 4
	pkgrel = 3
	url = https://github.com/sharunkumar/pkgbuilds
	arch = any
	license = custom:meta
	depends = niri
	depends = noctalia-shell
	depends = waybar
	depends = xdg-desktop-portal-gtk
	depends = xdg-desktop-portal-gnome
	depends = alacritty
	depends = swayidle
	depends = xwayland-satellite
	depends = pavucontrol
	depends = cliphist
	options = !emptydirs

pkgname = niri-meta
