pkgbase = niri-meta
	pkgdesc = Meta package for Niri and its recommended environment
	pkgver = 1.0
	pkgrel = 2
	url = https://github.com/sharunkumar/pkgbuilds
	arch = any
	license = custom:meta
	depends = niri
	depends = fuzzel
	depends = mako
	depends = waybar
	depends = xdg-desktop-portal-gtk
	depends = xdg-desktop-portal-gnome
	depends = alacritty
	depends = swaybg
	depends = swayidle
	depends = swaylock
	depends = xwayland-satellite
	options = !emptydirs

pkgname = niri-meta
